.burger-menu {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.header-btn, .header-btn * {
    display: none;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.header-menu > a {
    background-color: var(--secondary);
    display: grid;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 100px;
    text-transform: uppercase;
}

.header-title {
    font-size: 32px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    align-items: center;
    background-color: var(--secondary);
}

@media only screen and (max-width: 768px) {
    .burger-menu {
        display: none;
        flex-direction: column;
        background-color: var(--tertiary);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;
        z-index: -2;
    }

    .burger-menu > a {
        background-color: var(--secondary);
        height: 50px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header-menu {
        display: none;
    }

    .header-btn {
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;
        background-color: var(--secondary);
        height: 50px;
        width: 50px;
        cursor: pointer;
        
    }
    
    .header-btn > div {
        display: block;
        width: 25px;
        height: 2px;
        background-color: var(--black);
        rotate: 0deg;
        transition: margin-top 0.1s, margin-bottom 0.1s, rotate 1s, visibility 0s, opacity 1s;
    }

    .header-title {
        font-size: 21px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #header-btn-top { 
        margin-bottom: 4px;
    }

    #header-btn-bottom { 
        margin-top: 4px;
    }
}