.big-title {
    font-size: 200%;
    font-weight: 600;
    transition-property: font-size;
    transition-duration: 2s;
    cursor: default;
    text-align: center;
}

.home-page {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    visibility: hidden;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
}


@keyframes animate {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(-7px);
    }
}

