.big-title {
    font-size: 200%;
    font-weight: 600;
    transition-property: font-size;
    transition-duration: 2s;
    cursor: default;
    text-align: center;
}

.home-page {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    visibility: hidden;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
}

.spaghetto {
    height: 4px;
    width: 60vw;
    position: fixed;
    background-color: yellow;
    border-radius: 999px;
    border-color: black;
    border-width: 0.5px;
    border-style: solid;
    rotate: 90deg;
    animation: fall 4s ease-in;
}

@keyframes animate {
    0% {
        transform: translateX(-200vw);
    }
    100% {
        transform: translateX(200vw);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(150vw);
    }
    100% {
        transform: translateX(-150vw);
    }
}

@keyframes fall {
    0% {
        transform: translateX(-150vh);
    }
    100% {
        transform: translateX(40vh);
    }
}
