body {
    background-color: black;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Roboto";
}

header {
    text-align: center;
    background-color: rgb(105, 0, 153);
    color: white;
    border-color: white;
    border-style: solid;
    border-radius: 40px;
    border-width: 15px;
    margin-left: 40px;
    margin-right: 40px;
}

main {
    margin-left: 40px;
    margin-right: 40px;
}

footer {
    font-size: 12px;
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

p {
    margin-left: 20px;
    font-size: large;
}

h1 {
    font-size: 65px;
    font-style: normal;
}

h2 {
    font-size: 40px;
    font-style: normal;
}


img {
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 15px;
}

.menu {
    font-size: 18px;
    font-family: "Roboto";
    margin-left: -40px;
}

.menu li {
    display: inline;
}

.menu li a {
    font-weight: bold;
    text-decoration: none;
    display: inline;
    padding: 30px;
    color: white;
    font-size: 25px;
}

.app {
    display: inline-table;
    width: 45%;
    border-radius: 40px;
    border-style: solid;
    border-color: white;
    border-width: 15px;
    margin-top: 20px;
    text-align: center;   
}

.wrapper {
    overflow: hidden;
}