:root {
    --purple : rgb(105, 0, 153);
    --pink-dark : rgb(173, 0, 121);
    --red-dark : rgb(124, 1, 38);
    --blue : rgb(66, 0, 221);
}

body {
    background-color: black;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Roboto";
}

header {
    text-align: center;
    background-color: var(--purple);
    color: white;
    border-color: white;
    border-style: solid;
    border-radius: 40px;
    border-width: 15px;
    margin-top: 10px;
}

main {
    background-color: black;
}

footer {
    font-size: 15px;
    position: fixed;
    bottom: 0;
    padding: 0.2%;
    width: 100%;
    text-align: center;    ;
    background-color: black;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 65px;
    font-style: normal;
}

h2 {
    font-size: 40px;
    font-style: normal;
}

a {
    color: aqua;
}

img {
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 15px;
}

button {
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    padding: 10px 10px;
    background: none;
}


.menu {
    font-size: 18px;
    font-family: "Roboto";
}

.menu li {
    display: inline;
}

.menu li a {
    font-weight: bold;
    text-decoration: none;
    display: inline;
    padding: 30px;
    color: white;
    font-size: 25px;
}

.block {
    border-radius: 40px;
    border-style: solid;
    border-color: white;
    border-width: 15px;
    margin-top: 20px;
    text-align: center;   
}

.block.first {
    background-color: var(--pink-dark);
}

.block.second {
    background-color: var(--red-dark);
}