.cat-nor {
    font-size: 14px;
    margin-top: 0;
}

.istr-nor-box {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    place-content: center;
}

.istr-nor-box > div {
    padding: 20px;
}

.jud-nor-box {
    margin-bottom: 10px;
    padding: 10px;
    font-size: large;
}

.word-nor-box {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    min-height: 20vh;
    place-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 600;
}