:root {
    --primary: #FFAEBC;
    --secondary: #FBE7C6;
    --tertiary: #A0E7E5;
    --quaternary: #B4F8C8;
    --quinary: #FFF;
    --black: #0D1821;
}

body {
    background-color: var(--primary);
    font-family: 'Raleway', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.boxed {
    border-width: 2px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-style: solid;
    border-color: var(--black);
    border-radius: 9px;
}

@media only screen and (max-width: 768px) {
    
}