:root {
    --primary: #70d8eb;
}

@font-face {
    font-family: AntiqueOlive;
    src:url("../fonts/AntiqueOliveBold.ttf");
}

@font-face {
    font-family: AntiqueOlive;
    src:url("../fonts/olvr55w.ttf");
}

html {
    font-family: 'AntiqueOlive';
    font-weight: bold;
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--primary);
}

h1 {
    font-weight: bolder;
}

h2 {   
    font-weight: bolder;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: center;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.2rem;
    border-color: black;
    cursor: pointer;
    
}

input[type="radio"]:checked + *::before {
    background: radial-gradient(#ff594c 0%, #ff594c 40%, transparent 50%, transparent);
    border-color: black;
}
input[type="radio"]:checked + * {
    color: var(--primary);
}

input[type="radio"] + * {
    cursor: pointer;
}

input[type="text"] {
    border: 3px solid black;
    font-family: AntiqueOlive;
    font-weight: bold;
    font-size: 16px;
}

.container {
    display: grid;
    place-items: center;
    padding: 4vh 0;
    gap: 2vh;
}

.footer {
    font-size: 14px;
    text-align:center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.nav-btn {
    font-family: 'AntiqueOlive';
    font-size: 18px;
    font-weight: bold;
    padding: 1%;
    cursor: pointer;
    background-color: var(--primary);
    border: 0;
    margin-bottom: 1%;
}

.q-body {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 2%;
}

.q-container {
    padding:2%;
    background-color: white;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.q-option {
    font-size: 20px;
    line-height: 2;
    font-weight: bold;
}

.q-option > div {
    display: grid;
    align-items: center;
}

.submit-btn {
    border-radius: 10px;
    border: 0;
    font-family: 'AntiqueOlive';
    font-size: 18px;
    font-weight: bold;
    padding: 10% 40%;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit-btn:hover {
    background-color:#669AD6;
}

.title-nav {
    padding-left: 2%;
    font-size: 24px;
    text-align: center;
    border-bottom: 3px solid black;
    display: grid;
    top: 0;
}

@media only screen and (max-width: 1000px) {
    html {
        font-weight: normal;
    }

    h2 {
        font-size: 18px;
    }
    
    input[type="text"] {
        border: 6px solid black;
        font-size: 24px;
    }

    label {
        font-size: 24px;
    }

    .q-body {
        font-size: 16px;
    }

    .q-container {
        width: 80%;
        padding: 2% 4%;
        margin-top: 5%;
        font-size: 16px;
    }

    .submit-btn {
        font-size: 16px;
        padding: 4% 2%;
    }

    .title-nav {
        font-size: 16px;
    }

    .footer {
        font-size: 14px;
    }
}