@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: radial-gradient(50% 50% at 50% 50%, #c701c7 0%, #55017c 100%);
}

.App {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}